<div class="navbar navbar-expand-md bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/">
      nikee
    </a>
    <ul class="navbar-nav flex-row gap-3 mx-auto me-sm-auto d-none d-sm-flex">
      <li class="nav-item">
        <a class="nav-link text-light" href="/">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/products">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/orders">
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/users">
          Users
        </a>
      </li>
    </ul>

      <ul class="navbar-nav-sm">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            user
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="admin/changepass">change password</a></li>
            <li><a class="dropdown-item" href="/logout">logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>